---
layout: default
---

{%- assign _posts = site.posts | sort: 'date' | reverse -%}
{%- include header.html scrolly_nav=_posts -%}
<!-- Main -->
<div id="main">
        {%- if page.content != "" -%}
                {%- include section.html title=page.title photo=page.cover-photo photo-alt=page.cover-photo-alt auto-header=page.auto-header con    tent=page.content -%}
        {%- endif -%}
        <!-- Posts List -->
        {%- for _post in site.categories[page.category] -%}
                {%- capture _title -%}
                        <a href="{{- _post.url | absolute_url -}}">{{- _post.title -}}</a>
                {%- endcapture -%}
                {%- capture _link -%}<a href="{{- _post.url | absolute_url -}}">read more</a>{%- endcapture -%}
                {%- assign _content = _excerpt | append: _link -%}
                {%- include section.html title=_title subtitle=_subtitle content=_content -%}
        {%- endfor -%}
</div>
